:root {
	--primary-color: rgba(56,62,76,1);
	--secondary-color: rgba(100,109,124,1);
}

body {
	font-family: "Open Sans", sans-serif;
	height: 100vh;
	margin: 0;
}

header {
	align-items: center;
	background: var(--primary-color);
	display: flex;
	justify-content: center;
	min-height: 75px;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 4;
}

#hero {
	width: 100%;
	height: 100vh;
}

.hero-img {
	background-attachment: scroll;
	background-image: url("./images/header.jpg");
	background-position: center;
  background-repeat: no-repeat;
	background-size: cover;
	height: 100%;
	width: 100%;
}

.hero-txt {
	color: white;
	font-weight: bold;
	left: 50%;
	position: absolute;
	text-align: center;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	z-index: 2;
}

.hero-txt h1 {
	font-size: 70px;
	margin-bottom: 5px;
	text-shadow: 2px 2px #000;
}

.hero-txt h4 {
	font-size: 25px;
	margin-top: 5px;
	text-shadow: 1px 1px #000;
}

nav a {
	background-color: var(--primary-color);
	border: 1px solid var(--secondary-color);
	color: white;
	display: inline-block;
	font-size: 18px;
	height: 50px;
	line-height: 50px;
	margin: 5px;
	outline: none;
	text-align: center;
	text-decoration: none;
	width: 135px;
}

nav a:hover {
	background-color: rgba(100,109,124,0.3);
}